
.main.container{
    max-width: 99%;
    margin: auto;
    font-family: "Montserrat", sans-serif;        
}

.individual-project.panels.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

    

    border-radius:4px;
    -moz-border-radius:3px;
}    


.project{    
    margin-top: .7rem;
    background-color: #272727;    
}


.project.panel.info{
    border-right-width:0.1rem;
    border-right-style: solid; 
    border-right-color: #E6F2E3;     
    border-radius:0px;
    -moz-border-radius:0px;

    flex-grow: 10;
    flex-basis: 60%; 

    font-size-adjust: 0.5;
    display: block;
    line-height: calc(1ex / 0.32);
    text-align: justify;
    hyphens: auto;

}
.project.panel.info p{
    color: #818181;
    
    font-size-adjust: 0.5;
    display: block;
    
    text-align: justify;
    hyphens: auto;

    margin-left: .3rem;
    margin-right: .3rem;
}
.project.panel.stats{
    flex-basis:  20%;
    flex-grow: 1; 

    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    color: #E6F2E3;
}

.project.all-tags.container{
    color: #E6F2E3;
    text-align: center;
    margin-top: .4rem;
    margin-bottom: .4rem;
    
}
.project.all-tags.container a {
    color: #427643;
    text-decoration: none;
}
.project.all-tags.container a:hover {
    color: #427643;
    text-decoration: underline;
    
}
.post.preview{
    background-color: #272727;
    margin-top: .7rem;
}
.post.preview time{
    background-color: #272727;
    margin-top: .7rem;
    color: #818181;

}
.title-link{
    color: #E6F2E3;
    text-decoration: none;   
}

#read-more {
    color: #427643;
    text-decoration: none;
    
}
#read-more:hover{
    text-decoration: underline;
}