

.notes-index-project-item-container{    
    background-color: #272727;
    margin-top: 1%;
}

.notes-index-project-item-container h3 a{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    font-weight: 500;
    text-decoration: none;
}

.notes-index-project-item-container a:hover{
    color: #427643;
    text-decoration: underline;
}
.notes-index-project-tag-container a{
    font-family: "Montserrat", sans-serif;    
    font-weight: 500;
    color: #427643;
    text-decoration: none;
}
.notes-index-project-tag-container a:hover{
    text-decoration: underline;
}
.project-item-information-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.project-item-information-inner{
    border-right-width:0.1rem;
    border-right-style: solid; 
    border-right-color: #E6F2E3; 
    flex-basis:  20%;
    flex-grow: 1; 
}
.project-item-information-inner-end{
    flex-grow: 3;
    flex-basis: 40%;    
}
.github-svg{
    fill: #427643;   
}
