@import 'fonts.css';
@import 'navbar.css';
@import 'homepage.css';
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #202020;
}
p{
    margin-top: 1rem;
}
a:hover{
    color: #427643;
    text-decoration: underline;
}
blockquote{
    font-size: 1.4em;    
    font-family:Open Sans;
    font-style:italic;
    color: #427643;
    padding:.7em 10px .7em 10px;
    border-left:8px solid #818181 ;   
    
}
.main.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:99%;
    margin: auto;
}
.header{
    background-color: #272727;    

    border-radius:3px;
    -moz-border-radius:3px;

    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    

    font-weight: 500;
    margin-top: .7rem;
}

.header.subtitle {    
    margin-left: 1em;
    
}
.header.info{
    color: #818181;    
}
.header.content-divider{
    background-color: #202020;
     font-weight: 500;
     
     
}

hr {
    border: none;
    border-top: 3px double #202020;
    color: #202020;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

hr:after {
    color: #427643;
    content: '♖';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.content{
    background-color: #272727;   
    padding-left: 10px;
    width: 97%;
    margin-left: 1% ;    
    border-radius:3px;    
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
}

.summary  {    
    color: rgb(148, 148, 148);
    font-size-adjust: 0.5;

    line-height: calc(1ex / 0.41);
    text-align: justify;
    hyphens: auto;
}



/* List Page Content  */
.list-container{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    padding: 4px;
    padding-left: 10px;
    width: 97%;
    text-decoration: solid;
    
}
.listed-element-container {
    background-color: #272727;    
    padding: 5px;    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top: .5%;
}



.listed-element-container a {
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    text-decoration: none;        
}

.listed-element-container h1,h2,h3,h4,h5 {
    font-weight: 500;
}

.listed-element-container a:hover{
    color: #427643;
    text-decoration: underline;
}

.listed-element-container time {
    font-family: "Montserrat", sans-serif;    
    color: rgb(197, 197, 197);     
    text-decoration:wavy;
    
}

.tags-container{ 
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;       
    margin-left: .5%; 
}
.tags-container span{ 
    color: #E6F2E3;
}
.tag-list-item {
    margin-left: 6px; 
}
.tag-list-item {
    color: #427643;
    text-decoration: none;  
}
.tags-list-item:hover{
    text-decoration: underline;  
}
/*--Starts Tags Page--*/
.tags-key h2{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    text-decoration: none;     
}
.github-icon-container{
    margin-top: .4rem;
    font-family: "Montserrat", sans-serif;    

}
.github-icon-container a{    
    color: #427643;
    text-decoration: none;
    vertical-align: middle;
}
.github-icon-container a:hover{
    text-decoration: underline;
}
.svg{
    fill: #427643;        
}
.svg:hover{
    fill: #818181;        
    text-decoration: none;
}
   
footer{
  
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 2%;

  font-family: "Montserrat", sans-serif;
  color: #818181;
}
footer a{
    color: #427643;
    text-decoration: none;
}
footer a:hover{
    color: #427643;
    text-decoration: underline;
}

.rook{    
    
    font-size: 200px;
    color: #427643;
    text-align: center;    
    margin: auto;
}

#read-more {
    color: #427643;
    text-decoration: none;
    
}
#read-more:hover{
    text-decoration: underline;
}

.key{
    color: #818181;
}