@import 'fonts.css';
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: #202020;
}
a:hover{
    color: #427643;
}

.navBar {
    font-family: 'Montserrat';
    background: #272727;
}
.navBar a {
    color: #f6f4e6;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;    
    
    padding: 11px;
}

.navBar a:hover {
    color: #427643;
}
.main.container{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.header{
    background-color: #272727;

    margin-top: .5rem;

    order: 0;       

    border-radius:3px;
    -moz-border-radius:3px;

    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    

}

.header.title {
    font-weight: 500;
    
}
.header.subtitle {    
    margin-left: 1em;
    font-weight: 500;
}
.header.info{
    color: #818181;    

}
.notes-index-content-container{
    
}
/* I know this naming is ass, but I thought it would be easiest way */

.content-with-sidebar-container {
    display: flex;
    flex-wrap: wrap;
      

}

.the-sidebar-container-with-content {    
    flex-basis: 20rem;
    flex-grow: 1;    
    
    align-items: stretch; /*Used this to make the child strech to the bottom on the parent */ 
    
}
.sidebar-inner-content-container{
    margin: auto;
    margin-top: 6%;    
    margin-left: 3%;
    margin-right: 3%;
    background-color: #272727;
    padding: 5px;
    
    border-radius:3px;

    -moz-border-radius:3px;
}
.author-avatar{
    margin-left: 10%;
    margin-right: 10%;    
}
.author-avatar img{
    margin-left: 10%;
    margin-right: 10%;    
}
.author-info{
    margin-left: 3%;
    font-family: "Montserrat", sans-serif;    
    color: #ddd;    
}


.the-content-container-with-sidebar {
    flex-basis: 0;
    flex-grow: 500;
    
    
}
.content{
    background-color: #272727;
    padding: 8px;
    font-size: 1.em;
    border-radius:3px;

    -moz-border-radius:3px;
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
}
/* List Page Content  */
.list-container{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    padding: 4px;
    padding-left: 10px;
    width: 97%;
    text-decoration: solid;
    
}
.listed-element-container {
    background-color: #272727;
    
    padding: 5px;    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.listed-element-container span {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(148, 148, 148);
}

.listed-element-container a {
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    text-decoration: none;        
}

.listed-element-container a:hover{
    color: #427643;
    text-decoration: underline;
}

.listed-element-container time {
    font-family: "Montserrat", sans-serif;    
    color: rgb(197, 197, 197);    
    text-decoration:wavy;
    
}

.tags-container{ 
    font-family: "Montserrat", sans-serif;    

    display: flex;
    flex-wrap: wrap;       
    margin-left: .5%; 
}
.tags-list-item {
    margin-left: 10px; 
}
.tags-list-item a{
    color: #427643;
    text-decoration: none;  
}
.tags-list-item a:hover{
    text-decoration: underline;  
}
/*--Starts Tags Page--*/
.tags-key h2{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    text-decoration: none;     
}
.tag-pages-list a{
    font-family: "Montserrat", sans-serif;    
    color: #E6F2E3;    
    text-decoration: none;        
}
.tag-pages-list a:hover{
    color: #427643;
}
/*-- END Tags Page--*/

/*--Starts Single Page--*/
.single-page{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;   
}

.single-page-header{
    flex-basis: 0;
    flex-grow: 500;
    background-color: #272727;
    margin-top: 1%;


    
    padding: 5px;    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}
.single-page-header h2 {
    color: #E6F2E3;    
    font-family: "Montserrat", sans-serif;    
}
.single-page-header h3 a {    
    font-family: "Montserrat", sans-serif;    
    text-decoration: none;
    color: #427643;

}
.single-page-header h3 a:hover {    
    font-family: "Montserrat", sans-serif;    
    text-decoration: underline;
    color: #427643;

}

.single-page-header time {
    font-family: "Montserrat", sans-serif;    
    color: rgb(197, 197, 197);    
    text-decoration:wavy;
}
.single-page-content{
    font-family: 'JetBrains Mono';
    color: #E6F2E3;    
    text-align: left;



    flex-basis: 1;
    flex-grow: 499;
    background-color: #272727;
    margin-top: 1%;
    
    padding: 5px;    
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;


}
.single-page-content a{
    color: #427643;
}
.single-page-content p{
    font-size-adjust: 0.5;
    display: block;
    line-height: calc(1ex / 0.32);
    text-align: justify;
    hyphens: auto;

}
/*-- END Single Page --*/
