{{ define "main" }}
<div class="main container landing-page">    
    <div class="main container with-sidebar">
        <div class="main content">
            <div class="homepage content">    
                {{ .Content }}
            </div>
            <div class="list container">     
                {{partial "list-all-pages.html" .}}    
            </div>              
        </div>
        <div class="side-bar">
            {{ partial "author-info.html" . }}
        </div>
    </div>
</div>
{{ end }}