<div class="the-sidebar-container-with-content">
  <div class="sidebar-inner-content-container">
    <br/>
    <div class="author-avatar">

      {{ $asset := resources.Get "/images/ed-m-avatar.png" }}
      {{ $img := $asset.Fit "300x200" }}
      <figure class="image profile">
        <img alt="Ed" src="{{ $img.RelPermalink }}" />
      </figure>

    </div>
    <br />
    <hr />
    <div class="author-info">    
    <br />
      Name: {{.Site.Author.authorinfo.name }}
      <br />
      Location: {{.Site.Author.authorinfo.location }}
      <br />
      Employment Status: {{.Site.Author.authorinfo.employmentStatus }}
      <br />
    </div>
  </div>
</div>