
  <div class="sidebar-inner-content-container">
    <br/>
    <div class="author-avatar">
      <div class="rook">♖</div>
    </div>
    <br />
    <hr />
    <div class="author-info">    
    <br />       
        <span class="key">Name: </span> {{.Site.Author.authorinfo.name }}
        <br/>
        <span class="key">Location: </span> {{.Site.Author.authorinfo.location }}
        <br/>
        <span class="key">{{.Site.Author.authorinfo.employmentStatus }}</span>
    </div>
    <div class="author-icons-container">
      <a class="svg" href="https://github.com/Ed-Mar"> 
        <!-- Simple Dictonary insert for the nessary values for for the SVG size -->                                   
        {{ partial "github-svg.html" (dict "width" 37 "height" 37 ) }}                                  
    </a>
      
    </div>
  </div>
