{{range where site.Pages.ByDate.Reverse "Params.nonProject" true}}

<div class="list element">
    <h3 ><a class="list element title" href="{{ .Permalink }}">{{ partial "title.html" .}}</a></h3>
    <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
    <div class="tags-container">                            
        {{ range .Params.tags }}                                    
            <div class="tag-list-item">
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . | humanize}}</a>                                  
            </div>
        {{ end }}                            
    </div> 
    <div class="summary">
        {{.Summary}}
        {{ if .Truncated }}                                        
            <a id="read-more" href="{{ .RelPermalink }}">Read More…</a>                        
        {{end}}
    </div>  
</div>                

{{end}}

