<div class="project all-tags container">
    
    {{with .Param "projectName" }}
    <!-- Set the Current Project Name that we will looking for it's Pages--> 
    {{$projectname := .}}            
    <!-- Intilize a newScratch to hold the collections of maps of tags them self and number of times they appear in the project's notes -->  
    {{$projectTagsCollection:= newScratch}}
    <!--These 2 need to be Intilized and set or you'll get some nil errors--> 
    {{$projectTagsCollection.SetInMap  "projectTags" "DELETE-ME"  "Once Done - Use me and throw me away" }}
    {{$tempMap := dict "Just-Need-To-Initialize-This" 666 }}

    <!-- Loop over each of the Pages matching the given projectname --> 
    {{range where site.Pages "Params.project" $projectname}}
        <!-- Loop over each of the tags for a given Page --> 
        {{ range .Params.tags }}
            <!--To account for case issues -->
            {{$currentTag := upper . }}
            <!--Set tempMap to the "projectTags" from inside projectTagsCollection-->
            {{$tempMap = $projectTagsCollection.Get "projectTags"}}                    
            <!-- Check to see if Tag is in the collection of maps-->             
            {{if (index $tempMap $currentTag )}}
                <!-- If the current Tag is already in the Collection of maps Key-->
                <!-- We take the value at that tag and add one to it and set it to a temp-->                        
                {{$plusOne := add (index $tempMap $currentTag) 1}}
                <!-- Then the new couter value is overwritten at the current tags key value in the collection of project tags  --> 
                {{$projectTagsCollection.SetInMap "projectTags" $currentTag $plusOne}}
            {{else}}
                <!-- If the current Tag is NOT in the Collection of maps Key-->
                <!-- Then we add to the collection with value of 1 -->
                {{$projectTagsCollection.SetInMap "projectTags" $currentTag 1}}
                <!-- I want to limit the exposer place holder DeleteMe so I delete it as soon as there is another key inserted -->
                <!-- Yes I am aware that its a waste to keep this here for every new tag-->
                {{$projectTagsCollection.DeleteInMap "projectTags" "DELETE-ME"}}

            {{end}}                               
        {{end}}                                            
    {{end}}            
    {{range $key, $value := ($projectTagsCollection.Get "projectTags")}}                    
    <a href="{{ "/tags/" | relLangURL }}{{ $key | urlize }}">{{ $key | humanize}}
        <!-- If the Tags Occures more than once it get the super script-->
        {{if gt $value 1}}               
            <sup>{{$value}}</sup>                        
        {{end}}                        
    </a>                                         
{{end}}
{{end}} <!-- end of with Param "projectName" -->
</div><!--End project.all-tags.container div--> 